{% extends "base.html" %}

{% load static %}

{% block title %}Django Chat{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include "chat/message.html" %}

    <div class="row">
            <div class="col-xs-9 col-sm-8 text-left pre-scrollable" id="all_messages">
                <div class="hidden" id="last_message_id">{{ first_message_id }}</div>
                    {% if first_message_id > 0 %}
                        <div class="text-center"><button id="load_old_messages" class="btn btn-success">Load old messages</button></div>
                    {% endif %}
                <ul class="list-group" id="chat">

                    {% for message in chat_messages %}
                        <li class="list-group-item">
                        <strong>{{ message.user }} : </strong>
                        {{ message.message }}
                        </li>
                    {% empty %}
                    <div id="no_messages">No messages here</div>
                    {% endfor %}
                </ul>
            </div>
        </div>

        </br>

        <div class="row">
            <form id="chatform" autocomplete="off">

                <div class="col-xs-9 col-sm-7 col-sm-offset-3">
                    {% if user.is_authenticated %}
                    <input id="message" type="text" class="form-control input-lg" placeholder="Type chat message here" required>
                    {% else %}
                    <input class="form-control  input-lg" id="disabledInput" type="text" placeholder="Please login to chat" disabled>
                    {% endif %}
                </div>
                <div class="col-xs-2 col-sm-1">
                    <button id="go" type="submit" class="btn btn-primary input-lg">Submit</button>
                </div>
            </form>
        </div>

    <br />
    <br />

</div>

{% endblock %}
