{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include "chat/message.html" %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin" method="post" action="{% url 'user:login' %}">
                {% csrf_token %}
                <h2 class="form-signin-heading">Login</h2>

                <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
                {{ form.username |attr:"placeholder:Username" |add_class:"form-control" }}

                <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
                {{ form.password | attr:"placeholder:Password" |add_class:"form-control" }}

                <button class="btn btn-primary btn-block" type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <p>Don't have an account? <a href="{% url 'user:register' %}">Sign up</a>
        </p>
    </div>
{% endblock %}
